[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
msgpack = "*"
langchain-community = "*"
langchain-google-genai = "*"
nest-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.13"
